@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
/* Top Banner */
.top-banner{
    display: flex;
    width: 100%;
    height: 1000px;
    /* left: 0px;
    top: 0px; */
    background-color: #2D25A0;
    margin: 0;
    border: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.top-text h1{
    width: 485px;
    height: 230px;
    /* padding-left: 156px;
    padding-top: 207px;*/
    font-size: 64px;
    color: white;
    line-height: 80px;
}
.banner-img img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
}
.button-live{
    display: flex;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    transition: 0.3s;
}
.button-live:hover {
    background-color: #3e8e41;
  color: white;
}
.button-text a{
    text-decoration: none;
    color: white;
}
.fa-long-arrow-alt-right{
    color: white;
}
/* Players */
.container{
    margin-top: 5%;
}
.top-players{
    column-gap: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    grid-column-gap: 30px;
    justify-items: center;
    
}
.player{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}
.player .thumbnil img {
    height: 100%;
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
}
.player-info h2{
    text-align: center;
}
.player-info p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
/* Match Info */
.match{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    background-color: #002D5F;
}
.highlights{
    display: flex;
    justify-content: center;
}
.highlight-info{
    margin-right: 5%;
}
.match-info{
    width: 466px;
    height: 309px;
    text-align: justify;
    color: #FFFFFF;
}
.highlight-img img{
    width: 567px;
    height: 427px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.445);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
/* social media icon*/
.social-menu ul {
    width: 100%;
    margin-top: 30%;
    margin-left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}
.social-menu ul li {
    list-style: none;
    margin: 0 15px;
    
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .6s;
}
.social-menu ul li .fa:hover {
    color: #fff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
/* moving icon */
.social-menu ul li a:hover {
    transform: translate(0, -15px);
}
/* Colorful icon */
.social-menu ul li:nth-child(1) a:hover {
   background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
   background-color: #1DA1F2;
}
.social-menu ul li:nth-child(3) a:hover {
   background-color: #E4405F;
}
.social-menu ul li:nth-child(4) a:hover {
   background-color: #CD201F;
}
.social-menu ul li:nth-child(5) a:hover {
   background-color: #0A66C2;
}


/* --------------------------------------------
            Media Quary                         
-----------------------------------------------*/

/* --------------MOBILE----------------------- */

@media only screen and (max-width: 767px) {
html{
    overflow-x: hidden;
}
.top-banner {
    width: 100%;
    height: 695px;
    display: flex;
    flex-direction: column;
}
.top-discription{
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 259.17px;
}
.top-text h1{
    width: 278px;
    height: 138px;
    font-size: 36px;
    line-height: 50px;
}
.banner-img img{
    width: 329px;
    height: 259.17px;
    margin-right: 50%;
    margin-top: 10%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
        
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    grid-column-gap: 30px;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10%;
}
 .highlights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highlight-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match-info {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
.match-info p {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}
.highlight-img img {
    width: 328px;
    height: 248px;
    margin-top: 5%;
}
footer{
    display: flex;
    flex-direction: column;
}
footer .footer-logo img{
    width: 60%;
    margin-left: 15%;
}
.social-menu{
    height: 10%;
    width: 350;
    
}
.social-menu ul {
    width: 30%;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
}
.social-menu ul li{
    display: flex;
    margin: 5px;
}
 /* --------------------------------- */ 
}
/* -------------Mobile End---------------------- */